@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  margin-top: 6rem;
  background-color: #ccb9a6;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #B35E2F;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #B35E2F;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #ccb9a6;
  border-color: #ccb9a6;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: #B35E2F;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #B35E2F;
  color: white;
}